################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DesafioSoftPlan/v16/Server/sqlite3/db.lock
/.vs/DesafioSoftPlan/v16/Server/sqlite3/storage.ide
/.vs/DesafioSoftPlan/DesignTimeBuild/.dtbcache
/.vs/DesafioSoftPlan/v16/.suo
